@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #f4eaea 10%, #e9b6c1 90%);
}

h1 {
    margin-bottom: 30px;
    color: #c5062f;
}

form {
    width: 95%;
    margin: auto;
}

form input, textarea {
    margin-bottom: 20px;
    width: 100%;
}

form input {
    height: 40px;
}

form button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #c5062f;
    color: white;
}
