@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.conatiner {
    display: flex;
    /* flex: 1; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #f4eaea 10%, #e9b6c1 90%);
}

h1 {
    margin-bottom: 50px;
    color: #c5062f;
    text-align: center;
}

.main-div {
    width: 95%;
}

form {
    width: 100%;
    /* height: 100%; */
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

form input,
textarea {
    margin-bottom: 20px;
    width: 100%;
}

form input {
    height: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

form button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #c5062f;
    color: white;
}


/* @media (max-width: 600px) {

    label,
    input,
    textarea,
    button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: auto;
    }
} */